:root {
    --page-padding: 30px;
    --hidden-on-export: #e9e9e9;
    --padding-adjustment-on-export: 15px;
    --display-on-export: flex;
}

div[size="A4"] {
    width: 23.1cm;
    height: 29.893cm;
}

* {
    font-size: 15px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.page {
    border: 1px solid var(--hidden-on-export);
    aspect-ratio: 1 / 1.41421; width: 100%;
    display: flex; align-items: center; position: relative; flex-direction: column;
    break-after: page;
}

.page-inner {
    position: absolute; inset: 15px; padding: var(--page-padding);
    border-image: radial-gradient(circle, rgba(2,0,36,1) 0%, rgb(32, 159, 87) 35%, rgb(64, 64, 64) 100%) 30;
    border-width: 2px;
    border-style: solid;
    display: flex; align-items: center; flex-direction: column;
}

.page-inner > img {
    max-height: 150px;
    object-fit: contain;
}

.page-inner > img {
    margin: 30px;
}

.page-inner > .text-node {
    font-family: 'Garamond', serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 60px;
    letter-spacing: 3;
    text-align: center;
}

.click-to-remove {
    cursor: no-drop;
}

#sample-row {
    display: none;
}

.product-row {
    position: relative;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 45px;
}

.product-row__delete {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.float-right {
    float: right;
}

.tool__delete {
    display: var(--display-on-export) !important;
}

.product-row__delete:hover {
    font-size: 29px;
}

.product-row:hover {
    border: 1px dotted grey;
}

.product-row__left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-row__left-header {
    font-family: 'Garamond', serif;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2;
    margin-bottom: 15px;
}

.product-row__left-header:hover {
    border: 1px dotted grey;
}

.product-row__left-details {
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2.5;
}

.product-row__left-details p {
    font-size: 18px;
    margin: 0;
    color: #4b4b4b;
    margin-bottom: 2.5px;
}

.product-row__left-details p:hover {
    border: 1px dotted grey;
}

.product-row__left-prices {
    font-family: 'Crimson Pro', serif;
    font-size: 10px;
    font-weight: 200;
    letter-spacing: 1.5;
    display: flex;
    margin-top: 15px;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.product-row__left-price {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    color: #6a6a6a;
}

.product-row__left-price:hover {
    border: 1px dotted grey;
}

.product-row__right-img {
    height: 250px;
    width: 250px;
    margin-left: 30px;
}

.product-row__right-img:hover {
    border: 1px dotted grey;
}

.product-row__left-price-add {
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}

.tools {
    background: #42643f;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 5;
    margin-left: -10px;
    margin-right: -10px
}

.tool-input {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px;
}

.tool-button {
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 500ms;
    background: #eee;
}

.tool:hover {
    background: #ddd;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
